* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  border-bottom: 2px solid #dadada;
  border-radius: 4px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3vw;
}
nav ul li {
  font-size: 2vw;
  font-weight: 500;
}
nav h2 {
  font-size: 4vw;
  font-weight: 300;
}
#menu {
  display: none;
}
.content {
  height: calc(
    100% - 100px
  ); /*html,body ka 100% me sae 100 px nav ka minus kiya so that div content hee perfectly fit hogaya*/
  width: 100%;
  display: flex;
}
.left {
  height: 100%;
  width: 60%;
  padding: 4vw 2.5vw;
}
.left h3 {
  font-size: 3vw;
  font-weight: 300;
}
.left h3 span {
  color: #ff735c;
}
.left p {
  font-size: 2vw;
  font-weight: 300;
  margin: 2vw 0;
  width: 89%;
}
.left button {
  padding: 1.2vw 2.5vw;
  background-color: #e95a49;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.right {
  height: 100%;
  width: 40%;
}
.right img {
  height: 100%;
  width: 100%;
}
#signinbtn {
  padding: 0.7vw 1.7vw;
  border-radius: 4px;
  border: none;
  background-color: #ff735c;
  color: white;
  font-size: 2vw;
  font-weight: 500;
}
@media (max-width: 600px) {
  nav {
    height: 60px;
    padding: 0 4vw;
  }
  nav h2 {
    font-size: 7vw;
    font-weight: 500;
  }
  nav ul li {
    font-size: 4vw;
    display: none;
  }
  #menu {
    display: block;
    font-size: 6vw;
  }
  .content {
    height: calc(
      100% - 60px
    ); /* In between space is important as we gave nav 60 px we have to to again calculate height*/
    width: 100%;
    flex-direction: column;
  }
  .left {
    height: 45%;
    width: 100%;
    padding: 4vw 5vw;
  }
  .right {
    padding: 5vw 0;
    height: 55%;
    width: 100%;
  }
  .left h3 {
    font-size: 7vw;
    line-height: 10vw;
    font-weight: 600;
  }
  .left p {
    padding: 2vw 0;
    font-size: 5vw;
    width: 90%;
  }
  .left button {
    padding: 4vw 4vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 5vw;
    border-radius: 6px;
  }
}
