* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  border-radius: 4px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3vw;
}
nav ul li {
  font-size: 1.5vw;
  font-weight: 500;
}
nav h2 {
  font-size: 3.5vw;
  font-weight: 300;
}
#menu {
  display: none;
}
.content {
  height: calc(
    100% - 100px
  ); /*html,body ka 100% me sae 100 px nav ka minus kiya so that div content hee perfectly fit hogaya*/
  width: 100%;
  display: flex;
}
.left {
  height: 100%;
  width: 60%;
  padding: 0 4vw;
}
.left h3 {
  font-size: 4.2vw;
  line-height: 4.4vw;
  font-weight: 200;
}
.left h3 span {
  color: #ff735c;
}
.left p {
  font-size: 2vw;
  font-weight: 400;
  margin: 1vw 0;
  width: 80%;
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.left button {
  padding: 1.3vw 2.3vw;
  background-color: #e95a49;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1.7vw;
}
.right {
  height: 100%;
  width: 40%;
}
.right img {
  height: 100%;
  width: 100%;
}
#signinbtn {
  padding: 0.7vw 1.7vw;
  border-radius: 4px;
  border: none;
  background-color: #ff735c;
  color: white;
  font-size: 2vw;
  font-weight: 500;
}
@media (max-width: 600px) {
  nav {
    height: 60px;
    padding: 0 4vw;
  }
  nav h2 {
    font-size: 6vw;
    font-weight: 500;
  }
  nav ul li {
    font-size: 4vw;
    display: none;
  }
  #menu {
    display: block;
    font-size: 6vw;
  }
  .content {
    height: calc(
      100% - 60px
    ); /* In between space is important as we gave nav 60 px we have to to again calculate height*/
    width: 100%;
    flex-direction: column;
  }
  .left {
    height: 60%;
    width: 100%;
    padding: 4vw 5vw;
  }
  .right {
    height: 40%;
    width: 100%;
  }
  .left h3 {
    font-size: 6vw;
    line-height: 6vw;
    font-weight: 600;
  }
  .left p {
    padding-top: 1vw;
    font-size: 3.5vw;
  }
  .left button {
    padding: 1.5vw 3vw;
    font-size: 3vw;
    border-radius: 6px;
  }
}
@media (max-width: 400px) {
  nav h2 {
    font-size: 7vw;
  }
  .left h3 {
    font-size: 7vw;
    line-height: 7.5vw;
    font-weight: 700;
  }
  .left p {
    padding: 1.5vw 0;
    font-size: 4.5vw;
    width: 95%;
  }
  .left button {
    margin: 2vw 0;
    padding: 3vw 5vw;
    font-size: 5vw;
    border-radius: 6px;
  }
}
